.time-line {
  height: 2px;
  background-color: rgb(35, 64, 194);
}

.circle {
  position: absolute;
  background-color: rgb(35, 64, 194);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  top: -4px
}
